.navbar-inverse {
	background-color: #f6f6f6;
	border-color: #dedede;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
	color: #232323;
}

header .navbar {
/*	padding-top: 5px;*/
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color: #232323;
	background-color: #e4e4e4;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #232323;
	background-color: #d2d2d2;	
}